<html>
<head><title>User Registration</title></head>
<body>
<H1>User Registration Page</H1><br><br>
<form action="UserRegistration"  modelAttribute="addUser">
    Enter First Name :<input type="text" name="userFirstName"><br>
    Enter Last Name :<input type="text" name="userLastName"><br>
    Enter Password :<input type="text" name="userPassword"><br>
    Enter Phone No :<input type="number" name="userPhone"><br>
    Enter Email :<input type="email" name="userEmail"><br>
    <input type="submit" name ="Register">
</form>
</body>
</html>
