<html>
<head><title>User Registration</title></head>
<body>
<H1>User Registration Page</H1><br><br>
<form action="UserRegistration"  modelAttribute="addUser">
    Enter First Name :<input type="text" name="firstName"><br>
    Enter Last Name :<input type="text" name="lastName"><br>
    Enter Password :<input type="text" name="password"><br>
    Enter Phone No :<input type="number" name="phone"><br>
    Enter Email :<input type="email" name="email"><br>
    <input type="submit" name ="Register">
</form>
</body>
</html>
